
.modal_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #575656;

}
.modal_container_card{
    width: 400px;
    height: auto;
    border-radius: 20px;
    background-color: #fff;
    opacity: 1;
    display: inline-block;
}
